*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.container{
    height:100vh;
    width:100vw;
    background-image: linear-gradient(to right top, #2a446a, #27334f, #202436, #16161e, #020202);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align: center;
    margin-bottom:2rem;
    color:white;
    cursor: pointer;
    user-select: none;
    transition:all .3s;
}

.name{
    font-size:6em;
}

.title{
    font-size:2rem;
}

.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.mail{
    margin-top:10px;
}
.mail a {
    text-decoration: none;
    color: white;
}

.tech-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:10px;
}

.tech-skills span{
    padding:10px;
    font-weight: bold;
    border-radius:4px;
}



.tech-skills span:nth-child(1){
   background-color: #E34F26;
}
.tech-skills span:nth-child(2){
    background-color: #1572B6;
 }

 .tech-skills span:nth-child(3){
    background-color: #38B2AC;
    
 }
 .tech-skills span:nth-child(4){
    background-color: #F7DF1E;
    color:black;
 }

 .tech-skills span:nth-child(5){
    background-color: #61DAFB;
    color:black;
 }
  
.tech-skills span:nth-child(6){
    background-color: #000000;
}
.tech-skills span:nth-child(7){
    background: linear-gradient(to bottom right, #0ACF83, #A259FF);
}

@media only screen and (max-width: 600px) {
    .name {
      font-size: 3em;
    }
    
    .title {
      font-size: 1.5rem;
    }
  }

